@font-face {
font-family: "Emblema One"
src url ("http://wickeldysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff")
src url ("http://wickeldysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf")
}
body {
font-family: Verdana, Geneva, Arial, sans-serif;
}
h1 {
font-family: "Emblema One", sans-serif;
}
